<div class="mt-3">
    <div class="d-flex justify-content-center">
        <div class="top-main-box col-8 mr-3">
            <h3>Main content</h3>
        </div>
        <div class="profile-box col-3 text-center">
            <div class="profile-img-container mb-3"></div>
            <h4>Myname</h4>
            <p class="text-left">
                Hello, nice to meet you. Hello, nice to meet you.<br>
                Hello, nice to meet you. Hello, nice to meet you.
                Hello, nice to meet you. Hello, nice to meet you.
                Hello, nice to meet you. Hello, nice to meet you.
            </p>
        </div>
    </div>
</div>