@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // color: #274D7E;
    // font-family:  'arial black',serif; 
}


li {
    list-style: none;
}

.logo-tree {
    height: 80px;
    width: 80px;
}

header {
    font-family:  'arial black',serif; 
}

.logo-duck {
    height: 70px;
    width: 70px;
}

header h1 {
    height: 70px;
    // background-color: #91B6E6;
    color: #1A75EF;
    // font-weight: bold;
    line-height: 70px;
}

header nav {
    height: 50px;
    background-color: #1A75EF;
}

.header-nav {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.header-nav li {
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
}

.signout-btn {
    line-height: 70px;
}

main {
    width: 100%;
    min-height: 540px;
    background-color: white;
    color: #8D8D8D;
}

.top-main-box {
    background-color: #F1F1F1;
    border-radius: 12px;
}

.profile-box {
    // border: solid black 3px;
    padding: 20px;
    background-color: #E3EFFF;
    border-radius: 12px;
}

.profile-img-container {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-image: url(../../assets/images/hitch2.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

footer {
    background-color: #1A75EF;
    height: 50px;
    color: white;
    text-align: center;
    font-family:  'arial black',serif; 
}

footer p {
    line-height: 50px;
}